{
  "presets": [
    ["@babel/env", { "modules": false }],
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/syntax-dynamic-import",
    "@babel/plugin-proposal-function-bind",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["import", { "libraryName": "antd", "style": true }],
    "universal-import"
  ]
}
