@import './ant-theme-vars.less';



@header-background-color: #333;
@box-background-color: #fff;
@page-max-width: 1000px;


.logo {
  color: #eee;
  font-size: 1.4em;
}


.field-list__header {
  font-weight: 500;
  position: relative;
  margin-top: 100px;
  margin-bottom: 10px;
}

.field-list__header-label-rotated {
  display: block;
  width: 150px;
  transform: rotate(-50deg);
  transform-origin: left bottom 0;
  position: absolute;
  margin-left: 13px;
}

.field-row {
  background-color: #fafafa;
  padding: 8px 0;
}

.field-row--even {
  background-color: #eee;
}

.field-row--hover {
  &:hover {
    background-color: fade(@primary-color, 20%);
    cursor: pointer;
  }
}

.field-row__subrow {
  padding-bottom: 32px;
  &:hover {
    cursor: default;
    background-color: #fafafa;
  }
}

.field-row--even.field-row__subrow {
  &:hover {
    background-color: #eee;
  }
}

.field-name {
  font-weight: 500;
}

.field-name--subname {
  display: block;
  padding-left: 16px;
  opacity: .8;
}

.field-filter-info {
  border-bottom: 1px solid #ddd;
  margin-bottom: 6px;

  pre {
    margin-bottom: 0;
  }
}
