@import './ant-theme-vars.less';



@box-background-color: #fff;
@page-max-width: 1000px;


body {
  background-color: @layout-body-background;
}

.page {
  max-width: @page-max-width;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.box-bg {
  background-color: @box-background-color;
}

.loading-container {
  position: absolute;
  min-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: fade(@layout-body-background, .3);
  text-align: center;
}

.loading-container {
  position: absolute;
  min-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: fade(@layout-body-background, .3);
  text-align: center;
}

.hide-expand .ant-table-row-expand-icon {
  display: none;
}

tr.ant-table-expanded-row:hover > td {
  background: none;
}
